<div  class="quiz" style="background-color:rgb(212, 255, 251);">
  <h1>Welcome to Trivia Quiz</h1>
  <span><h5>This quiz will cointain 5 questions each carry 100 
  points and you have 15 seconds to answer each question</h5></span>

</div>
<div class="button">
  <button
  class="btn btn-primary btn-block mb-4"
  (click)="gotoQuestions();"
  >
  Enter Contest
  </button>
</div>

<!-- <div class="container">
    <div class="card">
      <div class="quiz-header">
        <h3>Trivia Quiz</h3>
      </div>
    </div>
</div> -->


